@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Розробник сайту  Куцан Богдан Олександрович</h3>
<h3>+380-98-907-48-05</h3>
<h3>K_Bogdan_O@ukr.net</h3>
<p>Інтернет магазин "Домашній улюбленець".</p>