@model AnimalStore2.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<form method="post">
    <h2>Ви впевнені, що хочете видалити даний запис?</h2>
    <button type="submit">Так</button>
</form>